/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.chats {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.chat-history {
    flex: 2;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #128c7e;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px; /* Add margin between contacts */
    cursor: pointer;
    display: flex;
    align-items: center; /* Center items vertically */
}

.contact-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #25d366; /* Dummy circle color */
    margin-right: 10px; /* Add some spacing between the circle and contact name */
}

.contact-info {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #25d366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #128c7e;
}

.sent-message {
    background-color: #DCF8C6;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
    align-self: flex-end;
}

.received-message {
    background-color: #ECE5DD;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
    align-self: flex-start;
}

#messageInput {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sendMessageBtn {
    background-color: #25d366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#sendMessageBtn:hover {
    background-color: #128c7e;
}
